<?xml version='1.0' encoding='utf-8'?>
<Server port="8000" address="127.0.0.1" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="off" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />
  <Service name="Catalina">
    <Executor name="tomcatThreadPool8080"
              namePrefix="tomcatThreadPool8080-exec-"
              maxThreads="512"
              minSpareThreads="30"
              prestartminSpareThreads = "true"
              socket.appReadBufSize="1024" 
              socket.appWriteBufSize="1024"
              bufferSize="1024"        
              maxIdleTime="60000"/>
    <Connector port="8080" protocol="org.apache.coyote.http11.Http11Nio2Protocol"
               connectionTimeout="60000"
               keepAliveTimeout="60000"
               enableLookups="false"
               maxKeepAliveRequests="384"
               acceptCount="4096"
               acceptorThreadCount="2"
               server="lx"
               URIEncoding="UTF-8"
               executor="tomcatThreadPool8080" />
    <Engine name="Catalina" defaultHost="localhost">
      <Host name="localhost"  appBase="webapps"
            unpackWARs="false" autoDeploy="false">
      </Host>
    </Engine>
  </Service>
</Server>